name: PowershellModuleTest

# Triggers the workflow on push or pull request events but only for the given branches and ignore changes of some file types.
on:
  push:
    branches:
      [ main, trunk ]
    paths-ignore:
      - '*.txt'
      - '*.md'
      - '.github/workflows/**'
  pull_request:
    branches:
      [ main, trunk ]
    paths-ignore:
      - '*.txt'
      - '*.md'
      - '.github/workflows/**'
  workflow_dispatch:  # Allows you to run this workflow manually from the Actions tab
  schedule:
    # schedules are taking always the default branch of the repo (master/main).
    # cron: minute(0..59) hour(0..23) dayOfMonth(1..31) month(1..12 or JAN..DEC) dayOfWeek(0..6 or SUN-SAT);
    #   '* * * * *' seams to be 15min; multivalues comma separated (2,4); ranges with a dash (2-5);
    #   increment with slash after min10 each 5 min (10/5); shortes are 5 minutes; in UTC;
    #   https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    #   (00:01GMT+0 means at: 01:01GMT+1 wintertime, 02:01GMT+2 daylight-saving-time)
    - cron:  '01 00 * * 0'  # 00:01UTC each sunday with main  branch
    - cron:  '34 15 * * 4'  # 00:11UTC each sunday with trunk branch

concurrency: # Dedupe, avoid push and PR runs for the same commit, default is serializing the ones with same group value
  group: ${{github.workflow}}-${{ github.event.pull_request.head.sha || github.sha }} # identify same commit-id (for PRs it often points to synthetic merge commit)
  cancel-in-progress: true  # cancel the previous older one

run-name: "PowershellModuleTest on 3 platforms - ${{ github.event_name == 'pull_request' && 'ValidateTo' || 'Verify' }} ${{ github.event_name == 'pull_request' && github.base_ref || github.ref_name }} ${{ github.event_name != 'pull_request' && github.ref_name != 'main' && 'and Create-PR-to main' || '' }}"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  RunAllTests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{matrix.os}} # run on multiple OS, if: ${{ runner.os == 'Linux' || runner.os == 'macOS' || runner.os == 'Windows' }}
    name: "RunAllTests on ${{matrix.os}} ${{github.ref_type}}=${{github.ref_name}} ${{github.event.repository.updated_at}}"
      # Example: "RunAllTests on windows-latest branch=main 2025-12-10T16:29:38Z"
    steps:

      - name: Checkout repository current branch
        if: github.event_name != 'schedule'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # V6.0.1 2025-12 https://github.com/actions/checkout/releases

      - name: Checkout repository main branch when started by a specific schedule
        if: github.event_name == 'schedule' && github.event.schedule == '1 0 * * 0'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # V6.0.1 2025-12 https://github.com/actions/checkout/releases
        with: { ref: main }

      - name: Checkout repository trunk branch when started by a specific schedule
        if: github.event_name == 'schedule' && github.event.schedule != '1 0 * * 0'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # V6.0.1 2025-12 https://github.com/actions/checkout/releases
        with: { ref: trunk }

      - name: Install tools
        shell: pwsh
          # Default runners have installed: PS7.2.5 and Pester.
          # More about PS: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-powershell#powershell-module-locations
        run: |
          echo "Running on OS=${{runner.os}}; $(which pwsh); $(pwsh --version)";
            # OS=Linux  ; /opt/microsoft/powershell/7/pwsh      ; 2024-02: Powershell 7.4.1"
            # OS=macOS  ; /usr/local/microsoft/powershell/7/pwsh; 2024-02: PowerShell 7.4.1"
            # OS=Windows; /c/Program Files/PowerShell/7/pwsh    ; 2024-02: PowerShell 7.4.1"
          # Assert installed tools: curl.
          if    ( "${{runner.os}}" -eq "Linux"   ){}
          elseif( "${{runner.os}}" -eq "macOS"   ){}
          elseif( "${{runner.os}}" -eq "Windows" ){}
          echo "Using curl: `"$((Get-Command "curl").Source)`" Version: $(curl --version) ";
            # Ubuntu  : /usr/bin/curl                 # 2024-02: V7.81.0(x86_64-pc-linux-gnu)        sudo apt install -y curl;
            # MacOS   : /usr/local/opt/curl/bin/curl  # 2024-02: V8.6.0 (x86_64-apple-darwin21.6.0)  brew install curl;
            # Windows : $env:SystemRoot\system32\curl.exe  # 2024-02: V8.4
          echo "github.event.schedule=${{github.event.schedule}} ";
          echo "List ps gallery repositories: "; Get-PSRepository;
          echo "List installed ps modules "; Get-Module -ListAvailable | Sort-Object ModuleType, Name, Version | Select-Object ModuleType, Name, Version | Format-Table -AutoSize;

      - name: Run All Tests
        shell: pwsh
        run: |
          echo "Run ./TestAllExamplesAndUnitTestsInInteractiveMode.ps1 with closed input-stream.";
          & "./TestAllExamplesAndUnitTestsInInteractiveMode.ps1";

  Merge:
    runs-on: ubuntu-latest  # must run on linux because tool for creating pr
      # Available 2025-12:
      # - ubuntu-latest   = Ubuntu-V24.04.3-LTS contains PowerShell-V7.4.13, already installed /usr/bin/pwsh
      # - windows-latest  = WinServer2025 V10.0.26100 Datacenter
      # - macos-latest    = macOS 15.7.2 24G325
      # - self-hosted     = own machine
      # - More see: https://github.com/actions/virtual-environments/
    name: "Merge to main if all unittests are ok"
    needs: [RunAllTests]
    env:
      LogDir: "unspecified"  # All files in this folder will be uploaded as zip
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # required for gh cli
    steps:

      - name: Checkout repository  # under $GITHUB_WORKSPACE, see https://github.com/actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # V6.0.1 2025-12 https://github.com/actions/checkout/releases

      - name: Show environment variables of bash
        shell: bash
        run: |
          echo "Running on OS=${{runner.os}}; $(which pwsh); $(pwsh --version)"; # Example: "Linux; /usr/bin/pwsh; Powershell VX.X.XX".
          echo "Repo         = ${{github.repository}}"                         ; # Example: "mniederw/MnCommonPsToolLib".
          echo "RepoUrl      = ${{github.server_url}}/${{github.repository}}"  ; # Example: "https://github.com/mniederw/MnCommonPsToolLib/".
          echo "RepoRef      = ${{github.ref}}"                                ; # Example: "refs/heads/main", "refs/heads/trunk", "refs/pull/12345/merge", "refs/pull/12345/head".
          echo "RepoBaseRef  = ${{github.base_ref}}"                           ; # Example: "main","trunk", "".  (target name of PR, otherwise empty)
          echo "RepoBaseRef  = ${{github.head_ref}}"                           ; # Example: "main","trunk", "".  (source name of PR, otherwise empty)
          echo "RepoSha      = ${{github.sha}}"                                ; # Example: "008f599d2e2e233739ebaa0bf847c52074b5bd2d".
          echo "RepoRefType  = ${{github.ref_type}}"                           ; # Example: "branch", "tag".
          echo "RepoRefName  = ${{github.ref_name}}"                           ; # Example: "main", "trunk", "V1.234", "12345/merge". (short name of branch or tag)
          echo "RepoEventAt  = ${{github.event.repository.updated_at}}"        ; # Example: "2025-12-18T23:59:59Z".
          echo "Actor        = ${{github.actor}}"                              ; # Example: "mniederw".
          echo "EventName    = ${{github.event_name}}"                         ; # Example: "schedule", "push", "workflow_dispatch".
          echo "Action       = ${{github.workflow}} #${{github.run_number}}"   ; # Example: "PowershellModuleTest #570".
          echo "WorkflowRef  = ${{github.workflow_ref}}"                       ; # Example: "mniederw/MnCommonPsToolLib/.github/workflows/PowershellModuleTest.yml@refs/heads/main"
          echo "ActionUrl    = https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}" # Example: "https://github.com/mniederw/MnCommonPsToolLib/actions/runs/4272755554"
          echo "List all environment variables in bash"; printenv;
          echo "List pnpm version: $((pnpm --version) || true)";
          echo "List npm version: $((npm --version) || true)";
          echo "List npm installed modules globally: $((npm list --global) || true)";
          echo "List npm installed modules locally: $((npm list) || true)";
          echo "ListDir /usr/lib/node_modules/: $((ls /usr/lib/node_modules/) || true)"; # Example: cordova  corepack  npm  sfdx-cli
          echo "ListDir /home/runner/.local/bin/: $((ls /home/runner/.local/bin/) || true)";
          echo "ListDir ./node_modules/: $((ls ./node_modules/) || true)";
          echo "ListFile ./package.json: $((cat ./package.json) || true)"; # Example: {"dependencies":{"fs":"0.0.1-security", "fs-extra":"^11.1.1", "xml2js":"^0.6.0", "jsonfile":"^6.1.0", "xmlmerge-js":"^0.2.5", "minimist":"^1.2.8", "path":"^0.12.7", "shelljs":"^0.8.5"}}
          # More usuful variables:
          #   RUNNER_WORKSPACE        = /home/runner/work/MnCommonPsToolLib
          #   GITHUB_WORKSPACE        = /home/runner/work/MnCommonPsToolLib/MnCommonPsToolLib
          #   RUNNER_TEMP             = /home/runner/work/_temp
          #   GITHUB_ENV              = /home/runner/work/_temp/_runner_file_commands/set_env_dddaeb53-3cd8-4be8-b76c-5fa50a64656c
          #   GITHUB_OUTPUT           = /home/runner/work/_temp/_runner_file_commands/set_output_dddaeb53-3cd8-4be8-b76c-5fa50a64656c
          #   GITHUB_STEP_SUMMARY     = /home/runner/work/_temp/_runner_file_commands/step_summary_dddaeb53-3cd8-4be8-b76c-5fa50a64656c
          #   INVOCATION_ID           = 765a5a77e7694d118c0feadb5fdc152d
          #   PATH                    = /opt/hostedtoolcache/node/18.16.1/x64/bin:/home/runner/setup-pnpm/node_modules/.bin:/home/runner/.local/bin:/opt/pipx_bin:
          #                               /home/runner/.cargo/bin:/home/runner/.config/composer/vendor/bin:/usr/local/.ghcup/bin:/home/runner/.dotnet/tools:/snap/bin:
          #                               /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
          #   PNPM_HOME               = /home/runner/setup-pnpm/node_modules/.bin
          # Note: we do not run: echo "List github context as json: ...toJson(github)...";
          #   because sometimes it fails after some json output for example with:
          #   2023-07: /home/runner/work/_temp/858ee69a-4952-4151-832b-4c9945ad8f90.sh: line 115: timestamp:: command not found
          #            Error: Process completed with exit code 127.
          #     Note: The error would also occurre if we would put into a comment line the variable: dollar-openbrace-openbrace toJson(github) closebrace-closebrace

      - name: If run-all-tests on trunk of a push or workflow_dispatch was successful then create pull request to main
        if: ${{ success() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/trunk'}}
        shell: pwsh
        run: |
          echo "Create a PR to main";
          [String] $repo =
          [String] $toBranch = "main";
          [String] $fromBranch = "${{github.ref_name}}";
          [String] $title = "Merge ${{github.ref_name}} to main - All Tests on src branch were successful - ${{ github.event.commits[0].message }}";
          & "gh" "pr" "create" "--base" $toBranch "--head" $fromBranch "--title" $title "--body" "autocreated by github action.";

      - name: If run-all-tests on main of a push or workflow_dispatch was successful then create a tag with the version from psd file
        if: ${{ success() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'}}
        shell: pwsh
        run: |
          [String] $version = "V" + (Import-PowerShellDataFile "./MnCommonPsToolLib/MnCommonPsToolLib.psd1").ModuleVersion;
          if( $version -eq "" ){ throw [Exception] "ModuleVersion not found in manifest."; }
          echo "Create a tag with the version from psd file: `"$version`" ";
          & git config user.name  "github-actions[bot]";                           # commonly used
          & git config user.email "github-actions[bot]@users.noreply.github.com"; # commonly used
          & git fetch --tags; # Ensure we have all remote tags
          echo "find a free unused number. ";
          function GetFreeVersionNumber(){
            [Int32] $maxSuffix = 65535;
            for( [Int32] $i = 0; $i -le $maxSuffix; $i++ ){
              [String] $candidate = if( $i -eq 0 ){ $version; }else{ "$version.$i"; };
              # Check existence (git tag -l outputs the tag exactly if it exists)
              [String] $exists = & git tag --list $candidate;
              if( $exists -ne $candidate ){ return $candidate; }
            }
            throw [Exception] "Could not find a free tag from $version.(1 .. $maxSuffix).";
          }
          $version = GetFreeVersionNumber;
          echo "found: `"$version`" ";
          & git tag $version;
          & git push origin $version;

      - name: Output job state
        if: ${{ always() }}  # if alternatives: success(), failure(), cancelled(), !success(), ..
        run: |
          echo "Process ${{job.status}}."; # job.status = [success,failure,cancelled].
          echo "LogDir=$RUNNER_TEMP/tmp" >> $GITHUB_ENV ; # set env variable

      - name: Assemble intermediate files into temp dir
        if: ${{ always() && runner.os == 'Linux' }}
        run: |
          mkdir --parents "${{env.LogDir}}";
          echo "Example content." > "${{env.LogDir}}/Example.log";
          echo "Dump file content: "; cat "${{env.LogDir}}/Example.log";
          echo "List temporary logdir folder: "; ls -al "${{env.LogDir}}";
          echo "List /tmp folder: "; ls -al "/tmp/";

      - name: Upload intermediate files as zip build artefact
        if: ${{ always() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # V6.0.0 2026-01 https://github.com/actions/upload-artifact/releases
        with:
          path: "${{env.LogDir}}/*"
          name: "IntermediateLogFiles"
